<div id="container">
    <div id="img">
      <img src="https://proxy.duckduckgo.com/iu/?u=http%3A%2F%2Fwww.francislewissocialstudies.com%2Fuploads%2F3%2F1%2F5%2F4%2F31546535%2F346368451.png&f=1" alt="shinto">
    </div>
    <div id="buttons">
      <button class="navButton" [routerLink]="['home']">Home</button>
      <button class="navButton" [routerLink]="['mine']">Mine Coins</button>
      <button class="navButton" [routerLink]="['buy']">Buy Coins</button>
      <button class="navButton" [routerLink]="['sell']">Sell Coins</button>
      <button class="navButton" [routerLink]="['browse']">Browse Ledger</button>
    </div>
<div id="router">
    <router-outlet></router-outlet>
  </div>
</div>
